extends layout


block title
  +titleColors('sweet basil radio')


block content
  -var tracks = data.recenttracks.track
  ul.track-list
    for track in tracks
      +highlightTrack(track)


block side
  #sticky-anchor
  .side.sticky
    h2 Beta 0.1.1
    p
      | Welcome to Sweet Basil. Browse tracks recently played. More features coming soon, leave any feedback at #[a(href="mailto:ian.cullinane@gmail.com") ian.cullinane@gmail.com]

  .side.side_art
    h2 Missing Art...Art
    img(src="images/cat.jpg")
    p 
      | Sometimes we won't have a picture. It happens. When it does you'll see this picture. The name of the artist and how to contact them can be found below. Happy Halloween!
    br
    h4 Cat & Pumpkin
    p paper, pen & ink 2015
    h6 by Ashley Holzwazzer ( #[a(href="https://instagram.com/ahhdraws/") ahhhdraws at instagram] )










mixin titleColors(text)
  -var message = text; 
  -var colors = new Array("#114B3A","#336D2B","#DCB549","#E2622E","#CF4222"); // red, green, blue
  h1.title
    -for (var i = 0; i < message.length; i++)
      span(style="color:" + colors[Math.floor((Math.random() * colors.length))] + ";")= message[i]


mixin highlightTrack( track )
  -if(track["@attr"])
    h1#current.box.box__info Current Track
    li.box.box__track.box__nowPlaying
      +albumArt(track.image[3])
      h1= track.name
      h3= "by " + track.artist["#text"]
    h1.box.box__info Past Tracks
  -else
    li.box.box__track
      +albumArt(track.image[3])
      h2= track.name
      h4= "by " + track.artist["#text"]
      p.time #{moment.unix(track.date["uts"]).fromNow()}

mixin albumArt( image )
  -if(!image["#text"])
    img(src="images/cat.jpg")
  -else
    img(src=image['#text'])


